body{
    background: #3c6382;
    margin: 0;
    padding:0;
}


.bienvenue{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 500px;
    margin: 60px auto;
    border: 1px solid #c7ecee;
    border-radius: 10px;
    box-shadow:  0 0 7px #c7ecee, 
               0 0 8px #dff9fb, 
               0 0 32px #fff;
}

.imgHead{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.imgHead img{
    width: 98%;
    height: 500px; 
    border-radius: 0 10px 10px 0;
}

.textHead{
    text-align: center ;
    width: 50%;
    color: #c7ecee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textHead h2{
    font-size: 45px;
}
.textHead p{
    font-size: 25px;
    
}