.header{
    z-index: 999;
    width: 80%;
    height: 100px;
    background: #f8c291;
    margin: 30px auto;
    border-radius: 25px;
}

.header img{
    height: 100px;
    width: 160px;
    height: 160px;
    border-radius: 0 0 50px 50px;
}

.nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

.nav li{
    list-style: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}